<!DOCTYPE html>
<html>
<head>
    <title>DEMO APP</title>
    <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Great+Vibes" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.14/semantic.min.css">
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
</head>
<body class="site">

<div class="ui top attached demo menu">
  <a class="item">
    <i class="sidebar icon"></i> Menu
  </a>
</div>
<div class="ui bottom attached segment">
  <div class="ui inverted labeled icon left inline vertical demo sidebar menu">
    <a class="item" href="/motorcycles">
      Home
    </a>
    <a class="item" href="/motorcycles/new">
      New
    </a>
  </div>
  <div id="pusherContent" class="site-content pusher">
    