<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <title>Blog Site</title>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.css"/>
    <link rel="stylesheet" type="text/css" href="/stylesheets/app.css"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/1.11.8/semantic.min.js"></script>
</head>
<body>
    <div class="ui fixed inverted menu">
        <div class="ui container">
            <div id="iconContainer" class="header item">
                <i class="code icon"></i>
            </div>
            <span class="item">BlogSite</span>
            <a href="/" class="item">Home</a>
            <a href="/blogs/new" class="item">New</a>
        </div>
    </div>

