<% include partials/landingheader %>

<div class="ui raised very padded text container">
  <h1 id="entryHeader" class="ui huge header">MotoMadness</h1>
  <div id="toIndex">
      <a class="ui button" href="/motorcycles">Enter site!</a>
  </div>
</div>

<% include partials/landingfooter %>