body {
    background-color: #232323;
    margin: 0;
    font-family: "Montserrat", "Avenir";
}

h1 {
    color: white;
    text-align: center;
    font-weight: normal;
    text-transform: uppercase;
    background-color: steelblue;
    line-height: 1.1;
    margin: 0;
    padding: 20px 0px;          /* 20px top and bottom, 0 left and right */
}

p {
    margin: 0;
}

#rgbDisplay {
    font-size: 200%;            /* 200% of parent h1 font-size */
}

button {
    border: none;
    background: none;
    height: 100%;               /* Takes up 100% of the parent element- stripe div */
    color: steelblue;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: inherit;         /* inherit from parent - h1 */
    font-weight: 700;
    transition: all 0.4s;           /* when any properities changes, transition in 0.5s */
    -webkit-transition: all 0.4s;   /* Browser Support */
    -moz-transition: all 0.4s;      /* Browser Support */
}

button:hover {
    background-color: steelblue;
    color: white;
}

#stripe {
    height: 30px;
    background-color: white;
    text-align: center;
    color: black;
}

#messageDisplay {
    display: inline-block;
    width: 20%;
}

.selected {
    background-color: steelblue;
    color: white;
}

#container {
    max-width: 600px;   /* Max size of container with the squares inside */
    margin: 20px auto;  /* Centers container: 20px top/bottom, 0 left/right */
}

.square {
    background-color: purple;
    width: 30%;                                 /* Width of the square */
    padding-bottom: 30%;                        /* This creates the square */
    margin: 1.66%;                              /* Margin between squares */
    float: left;                                /* Puts them side by side */
    border-radius: 12%;                         /* 12% rounded */
    transition: background-color 0.5s;          /* Transition when background changes */
    -webkit-transition: background-color 0.5s;  /* Browser support */
    -moz-transition: background-color 0.5s;     /* Browser support */
}
