<h1>This is the secret page</h1>

<p> You found it!</p>

<img src="https://i.ytimg.com/vi/GF60Iuh643I/hqdefault.jpg">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>