<% include partials/header %>

    <h1>Welcome to the home page!</h1>
    <p>Paragraph goes here</p>
    
    <img src="https://animalso.com/wp-content/uploads/2016/10/Pomsky-5.jpg" width="500px">

<% include partials/footer %>