body {
    font-family: 'Source Sans Pro', sans-serif;
    max-width: 700px;
    width: 80%;
    border: 20px solid #BDC3C7;
    margin: 2% auto;
    padding: 20px;
}

.date {
    color: #3498DB;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
}

h2 {
    color: #2C3E50;
    font-size: 2.0rem;
    font-weight: 900;
    text-transform: capitalize;
}

/*hr {
    display: block;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}*/

hr {
    border: 0;
    height: 1px;
    background: #BDC3C7;
    background-image: linear-gradient(to right, #DDD, #BDC3C7, #DDD);
}

h2 + p {
    border-left: 5px solid #BDC3C7;
    padding-left: 4px;
}

.post {
    margin-bottom: 20px;
}