p {
    /*Content Height and Width*/
/*    height: 100px;*/
    width: 50%;

    /*border*/
    border: 3.5px solid rgb(0, 122 , 255);

    /*padding*/
    /*padding: 10px;*/
    padding-left: 40px;

    /*margin*/
    /*margin: 50px;*/
    /*margin-left: 25px;*/

    /*top, right, bottom, left*/
    margin: 40px 70px 100px 50px;

    /*top/bottom , left/right*/
    /*margin: 10px 50px*/
    margin: 0px auto;

}