img {
    width: 30%;
    float: left;
    /*Each picture is 10%, each picture will have a margin of 1.66 on both sides*/
    margin: 1.66%;
}

p {
    font-family: 'Raleway', san-serif;
    font-weight: 800;
    font-size: 23px;
    text-transform: uppercase;
    margin-left: 1.66%;
    padding-bottom: 1.66%;
    width: 30%;
    border-bottom: 2px solid #F1F1F1;
}