<h1>Hello World!</h1>

<p>Head Block Number: <%= head_block_num %></p>

<form action="/show" method="POST">
    <input type="text" name="account_name" placeholder="account">
    <input type="submit">
</form>
