<h3>Show Page</h3>

<p>Account is: <span style="color: blue"> <%= account_name %> </span></p>

<p>Public Active Key is: <span style="color: blue"> <%= active_key %> </span></p>

<a href="/">Go Back</a>